
.ant-box {
  width: 100px;
  height: 100px;
  background: #D9D9D9;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 20px;
}

/* Flex layout with proper z-index handling */
.ant-image {
  width: 70px;
  height: 70px;
  /* background-color: blue; */
  z-index: 4;
  position: relative; /* Important to respect z-index */
  cursor: grab;
}

.ant-text {
  margin-top: 5px;
  text-align: center;
  z-index: 3; /* Ensure text stays below the image */
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

  .eyes-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .eye-image {
    width: 20px;
    height: 20px;
  }
  

  .ant-box {
    /* Common styles for all ants */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ant4-box {
    margin-top: 30px; /* Margin for Ant 4 */
  }
  
  .ant-box-red {
    background-color: none!important;
  }
  
  .ant-box-green {
    background-color: lightgreen;
  }
  
  .ant-box-blue {
    background-color: lightblue;
  }



.ant {
  position: relative; /* Ant is positioned relative to its container */
}
/* 


.ant-image {
  transition: opacity 0.2s; /* Smooth transition for visibility changes */



.ant {
  position: relative; /* Ant is positioned relative to its container */
}

.ant-image {
  transition: opacity 0.2s; /* Smooth transition for visibility changes */
}



.hidden {
  display: none;
}

/* Optional: For initial hiding of elements within .owl-eat area */
.ant-in-owl-eat .ant-image,
.ant-in-owl-eat .ant-text {
  display: none;
  z-index: 1;
}


@media (max-width: 768px) {
 

  .ant-box {
    width: 85px;
    height: 85px;
    background: #D9D9D9;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 20px;
  }
  .ant-image {
    width: 60px;
    height: 60px;
   
  }
  .ant-text {
    margin-top: 5px;
    text-align: center;
    z-index: 3; /* Ensure text stays below the image */
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }
}

@media (max-width: 520px) 
{
  
    
  .ant-box {
    width: 75px;
    height: 75px;
    
  }

  

  
  }