.ant-box {
    width: 170px;
    height: 170px;
    
    background: #D9D9D9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 20px;
  }
  
  .ant-image {
    width: 61px;
    height: 68px;
    cursor: grab;
    z-index: 1!important;
  }
  
  .ant-text {
    /* margin-top: 5px;
    font-size: 12px;
    color: #333;
    font-family: Inter; */
font-size: 24px;
font-weight: 400;
line-height: 1;
text-align: left;

  }
  

  .ant-box {
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .ant-image {
    width: 50px;
    height: 50px;

    z-index: 1!important;
  }
  
  .ant-text {
    margin-top: 5px;
    text-align: center;
  }
  
  .eyes-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .eye-image {
    width: 20px;
    height: 20px;
  }
  

  .ant-box {
    /* Common styles for all ants */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ant4-box {
    margin-top: 30px; /* Margin for Ant 4 */
  }
  
  .ant-image {
    width: 100px; /* Adjust size if needed */
    z-index: 1!important;
  }
  
  .ant-text {
    margin-top: 5px; /* Space between image and text */
  }
  

  .ant-box-red {
    background-color: none!important;
  }
  
  .ant-box-green {
    background-color: lightgreen;
  }
  
  .ant-box-blue {
    background-color: lightblue;
  }

/*   
.ant-in-owl-eat {
  position: absolute;
  z-index: 2; 
} */

.ant {
  position: relative; /* Ant is positioned relative to its container */
}
/* 
.ant-in-owl-eat .ant-image {
  display: none; 
} */

.ant-image {
  transition: opacity 0.2s; /* Smooth transition for visibility changes */
}


.ant {
  position: relative; /* Ant is positioned relative to its container */
}

.ant-image {
  transition: opacity 0.2s; /* Smooth transition for visibility changes */
}

/* .ant-in-owl-eat .ant-image,
.ant-in-owl-eat .ant-text
 {
  display: none; 
} */

/* .ant-in-owl-eat {
  position: absolute;
  top: 30px; 
  left: 0; 
} */



/* for text-hide */

/* Existing styles... */

/* .hidden {
  display: none;
} */


/* Existing styles... */

.hidden {
  display: none;
}

/* Optional: For initial hiding of elements within .owl-eat area */
.ant-in-owl-eat .ant-image,
.ant-in-owl-eat .ant-text {
  display: none;
}
