.ant-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
     width: 40%;
     padding-top: 40px ;
     /* background-color: antiquewhite; */
   
  }
  /* .ant4-container {
    position: fixed;
    top: 30%;
    right: 24%;
    z-index: 10;
    background-color: transparent!important;
    
  } */


  

  /* .top-right-ant{
       position: absolute!important;
       left: 0;
       bottom: 40px;
       background-color: transparent!important;
       background-color: none!important;
  } */
  
  .ant-container {
    position: relative; /* Ensure container is relative to contain absolutely positioned ants */
  }
  
  
  /* nextback */


/* AntContainer.css */
.ant4-container {
  position: fixed;
  top: 40%;
  right: 24%;
  z-index: 10;
  background-color: transparent !important;
}

/* .next-position {
  top: 50%;
  left: 20%;
} */

/* .ant4-container.next-position {
  top: 50%;
  left: 20%;
} */

/* Navigation Buttons */
.navigation-button {
  position: fixed;
  width: 100px;
  height: 50px;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.back-button {
  bottom: 20px;
  left: 20px;
}

.next-button {
  bottom: 20px;
  right: 20px;
}

.navigation-button img {
  margin-right: 10px;
}

.navigation-button span {
  display: block;
}




.ant4-next-position {
  /* position: absolute; */
  /* Position for Ant 4 when Next button is clicked */
  top: 85%!important; /* Example position change */
  left: 30%; 
}

@media (max-width: 924px) {
  .ant-container {
    
   
     width: 60%;
     padding-top: 40px ;
     /* background-color: antiquewhite; */
   
  }

  .ant4-container {
    position: fixed;
    top: 40%;
    right: 16%;
    z-index: 10;
    background-color: transparent !important;
  }
}

@media (max-width: 768px) {
  .ant-container {
    
   
     width: 75%;
     padding-top: 40px ;
     
   
  }

  .ant4-container {
    position: fixed;
    top: 35%;
    right: 8%;
    z-index: 10;
    background-color: transparent !important;
  }

  .ant4-next-position {
    /* position: absolute; */
    /* Position for Ant 4 when Next button is clicked */
    top: 75%!important; /* Example position change */
    left: 25%; 
  }
}

@media (max-width: 520px) 
{
  
    
      .ant-container{
      width: 90%;
     }
     .ant4-container {
      position: fixed;
      top: 32%;
      right: 3%;
      z-index: 10;
      background-color: transparent !important;
    }
    .ant4-next-position {
      /* position: absolute; */
      /* Position for Ant 4 when Next button is clicked */
      top: 70%!important; /* Example position change */
      left: 20%; 
    }
  
  }
    